input,
img[id="horizontal"],
div[class="information_for_vertical_view"]
{
    display: none;
}

input:checked ~ label img[id="horizontal"]
{
    display: inline;
}

input:checked ~ label img[id="vertical"]
{
    display: none;
}

input:checked ~ section
{
    display: block;
    width: 500px;
    margin-bottom: 5px;
}

input:checked ~ section div[class="information_for_horizontal_view"]
{
    display: none;
}

input:checked ~ section div[class="information_for_vertical_view"]
{
    display: block;
}

section
{
    width: 250px;
    height: 380px;
    border: 1px solid lightgrey;
    display: inline-block;
}

section:hover
{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

h2
{
    font-family: Arial, serif;
    font-size: 22px;
    font-weight: 500;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

p
{
    font-family: Arial, serif;
    padding-left: 15px;
    font-size: 14px;
    line-height: .5em;
    color: rgb(87, 86, 86);
}
