input,
img[id='horizontal'],
div[class='information_for_vertical_view']
{
    display: none;
}

input:checked ~ label img[id='horizontal']
{
    display: inline;
}

input:checked ~ label img[id='vertical']
{
    display: none;
}

input:checked ~ dl
{
    display: block;
    margin: 5px auto;
    width: 500px;
}

input:checked ~ dl div[class='information_for_horizontal_view']
{
    display: none;
}

input:checked ~ dl div[class='information_for_vertical_view']
{
    display: block;
}

body
{
    font-family: Arial, serif;
}

dl
{
    width: 250px;
    border: 1px solid lightgrey;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 0;
}

dl:hover
{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

dd
{
    margin: 0;
}

h2
{
    font-size: 22px;
    font-weight: 500;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

img[alt^='cat_']
{
    width: 250px;
}

p
{
    padding-left: 15px;
    font-size: 14px;
    line-height: .5em;
    color: rgb(87, 86, 86);
}

footer
{
    margin: 10px;
}
